*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-top: 0;
}
form {
    display: none;
}
form.active{
    display: flex;
    align-items: center;
    flex-direction: column;
}
label, input, button {
    margin-bottom: 15px;
    font-size: 16px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-selection {
    display: flex;
    margin-bottom: 20px;
}
.form-selection button {
    margin-right: 10px;
}